[Desktop Entry]
Name=Nord Manager
Comment=Simple Switch for NordVPN
Keywords=vpn VPN nordvpn nord
Exec=nordmanager.sh
Icon=/usr/share/pixmaps/icon_nordvpn.png
Terminal=false
Type=Application
Categories=Utility;Network;
